/* ++++ IMPORT ++++ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newspage {
    margin-bottom: 9rem;
}

.newspage h2 {
    max-width: 37rem;
    margin-bottom: 1.75rem;
}

.newspage span {
    font-size: 1rem;
    color: #2E90D1;
    font-weight: 500;
    font-family: Montserrat;
}

.newspage p {
    margin-top: 1.75rem;
    max-width: 37rem;
    text-align: justify;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.3;
    color: #585858;
}